<form action="/landmarks" method="post">
  <label for="name">Name</label>
  <input type="text" name="landmark[name]" id="name">
  <label for="year_completed">Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="year_completed">
  <input type="submit" value="Submit">
</form>
